.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2;
  margin-top: 20px;
}

.camera {
  width: 50vw;
  height: 50vh;
}

.image {
  width: 40vw;
  height: 50vh;
}
